# FastAPI Core
fastapi==0.128.1
uvicorn[standard]==0.40.0
python-dotenv==1.2.1
httpx==0.28.1
pydantic==2.12.5
slowapi==0.1.9

# AI
google-generativeai==0.8.6

# Embeddings
torch==2.5.1
sentence-transformers==2.7.0

# Vector DB
chromadb==1.4.1

# LangChain minimal
langchain-core==1.2.9
langchain-community==0.4.1
langchain-chroma
langchain-huggingface==0.1.2

# Core
numpy>=1.24.0,<2.0.0